body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.abs {
  margin-bottom: 60px;
}
.rel {
  position: relative;
}
.open-button {
  background-color: #555;
  color: white;
  padding: 4px 5px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  margin: 5px;
  /*height: 30px;*/
}
.open-button-remove {
  background-color: #555;
  color: white;
  padding: 4px 5px;
  border: none;
  cursor: none;
  opacity: 0.3;
  margin: 5px;
  /*height: 30px;*/
}

.open-button.perf {
  float: right;
}
.open-button.port {
  position: absolute;
  top: 23px;
  left: 28px;
  width: 250px;
}

.open-button.stock {
  position: absolute;
  /*top: 23px;*/
  left: 28px;
  /*width: 150px;*/
}

.open-button.other {
  float: right;
}

/*.open-button.bottom {
    position: absolute;
    bottom: 23px;
    left: 28px;
    width: 150px;
}*/

.down {
  position: absolute;
  bottom: 2px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-popup.top {
  position: absolute;
  top: 0;
  left: 15px;
}

.form-popup.bottom {
  position: absolute;
  bottom: 0;
  left: 15px;
}

/* Add styles to the form container */
.form-container {
  padding: 10px;
  background-color: white;
}
.form-container.port {
  max-width: 300px;
}
.form-container.stock {
  max-width: 160px;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.button {
  border-radius: 50%;
  background-color: darkgrey;
  border: none;
  color: black;
  /*padding: 15px 32px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /*margin: 25px 2px;*/
  cursor: pointer;
  opacity: 0.8;
  /*width: 120px;*/
}

.button:hover {
  opacity: 1;
}
.mycontainer {
  padding: 5px 15px;
  margin: 5px 15px;
}

.portfolio {
  padding: 15px 15px;
  border: 1px solid black;
  margin: 5px 5px;
  font-size: 12px;
}

.portfolio .title {
  font-weight: bold;
}

.portfolio.empty {
  border: 0;
  display: none;
}

.horizscroll {
  overflow-x:auto;
}

.portfoliotable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin: 5px;
  width: 100%;
}

.portfoliotable td, .portfoliotable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.portfoliotable tr:nth-child(even){background-color: #f2f2f2;}

.portfoliotable tr:hover {background-color: #ddd;}

.portfoliotable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: darkgrey;
  color: black;
  cursor: pointer;
}

.container {
  background-color: white;
  padding: 15px;
}

/* For tablets: */
@media only screen and (min-width: 600px) {
  .col-100 {font-size: 13px;}
  h3 {text-align: center;}

  .portfolio {
    padding: 15px 15px;
    border: 1px solid black;
    margin: 15px 15px;
    font-size: 14px;
  }

  .portfoliotable td, .portfoliotable th {
    text-align: center;
  }

}
/* For desktop: */
@media screen and (min-width: 768px) {
  .open-button, .open-button-remove{
    margin-bottom: 10px;
  }

  .mycontainer {margin: 40px}

  .portfoliotable {
    margin-top: 10px;
  }

  .portfolio {
    font-size: 16px;
  }

  .downbut3 {
    position: absolute;
    right: 0;
  }
}
